---
layout: default
---

<div class="row">
  <div class="col-md-4">
    <h2>Categoría 01</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat qui omnis doloribus officia suscipit dignissimos, necessitatibus at quasi aperiam eos, minima iste, tempora, cumque dicta ipsam nesciunt neque totam. Porro.</p>
  </div>
  <div class="col-md-4">
    <h2>Categoría 02</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat qui omnis doloribus officia suscipit dignissimos, necessitatibus at quasi aperiam eos, minima iste, tempora, cumque dicta ipsam nesciunt neque totam. Porro.</p>
  </div>
  <div class="col-md-4">
    <h2>Categoría 03</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat qui omnis doloribus officia suscipit dignissimos, necessitatibus at quasi aperiam eos, minima iste, tempora, cumque dicta ipsam nesciunt neque totam. Porro.</p>
  </div>
</div>

<div class="row">
  {% for t in site.tools %}
  <div class="col-md-3">
    <h3>{{ t.tool_title }}</h3>
    <p>{{ t.tool_description}}</p>
    <ul class="list-unstyle">
      {% for spec in t.tool_specs %}
      <li>{{ spec.key }}</li>
      {% endfor %}
    </ul>
    <a href="{{ t.tool_github }}" targe="_blank"><i class="fa fa-github"></i></a>
  </div>
  {% endfor %}
</div>
