<footer>
  <div id="collaboration" class="container">
    <h4>Colaboran</h4>
    <div class="row">
      <div class="col-md-3">
        <img src="//placehold.it/300x300" alt="" class="img-responsive">
      </div>
      <div class="col-md-3">
        <img src="//placehold.it/300x300" alt="" class="img-responsive">
      </div>
      <div class="col-md-3">
        <img src="//placehold.it/300x300" alt="" class="img-responsive">
      </div>
      <div class="col-md-3">
        <img src="//placehold.it/300x300" alt="" class="img-responsive">
      </div>
    </div>
  </div>
</footer>
