<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <ul class="list-unstyled">
          <li><a href="//github.com/ciudadanointeligente" target="_blank"><i class="fa fa-github-alt"></i> Revisa este y todos nuestros proyectos</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled">
          <li>
              Desarrollado por <a href="//ciudadanointeligente.org" target="_blank"><img src="{{ site.baseurl }}/img/logo-fci-201x61.png" alt="Fundación Ciudadano Inteligente" title="Fundación Ciudadano Inteligente"></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled">
          <li><a href="tel:{{ site.phone }}"><i class="fa fa-phone"></i> {{ site.phone }}</a></li>
          <li><a href="mailto:{{ site.email }}" class="email-prensa" target="_top"><i class="fa fa-envelope-o"></i> Contacto</a></li>
          <li><a href="//bit.ly/17qiMkf" target="_blank"><i class="fa fa-map-marker"></i> Holanda 895, Providencia, Santiago, Chile</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
