{% if page.main_page %}
<header>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-xs-7 col-md-4 col-xs-offset-1 col-md-offset-6">
          <p>En Fundación Ciudadano Inteligente hemos desarrollado una serie de herramientas tecnológicas que han servido en el pasado para lograr incidencia, fomentar la comunicación estratégica y fortalecer la transparencia, entre otros. Sabemos que todas las organizaciones tienen desafíos estratégicos y creemos que estas herramientas se pueden poner al servicio de los más diversos objetivos.</p>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container text-center">
  <h2>¿Cuál de estas áreas te gustaría potenciar en tu organización? Revisa los proyectos que tenemos para ti.</h2>
</div>
{% endif %}
