<ul id="tools" class="list-unstyled grid">
    {% assign tools = site.tools | sort: 'tool_title' %}
    {% for t in tools %}
  <li class="tools-item grid-item col-md-4">
    <div class="{{ t.tool_category }}">
      <h3>{{ t.tool_title }}</h3>
      <p>{{ t.tool_description}}</p>
      <p>Con esta herramienta podrás:</p>
      <ul>
        {% for spec in t.tool_specs %}
        <li>{{ spec.key }}</li>
        {% endfor %}
      </ul>
      {% if t.tool_deploys %}
      <p>Funcionando en:</p>
      <ul class="list-unstyled">
        {% for spec in t.tool_deploys %}
        <li><a href="{{ spec.url }}">{% if spec.name %}{{ spec.name }}{% else %}{{ site.url | limit: 20 }}{% endif %}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
      <a href="{{ t.tool_github }}" targe="_blank"><i class="fa fa-github"></i></a>
    </div>
  </li>
    {% endfor %}
</div>