<ul id="tools" class="list-unstyled grid">
    {% assign tools = site.tools | sort: 'tool_title' %}
    {% for t in tools %}
  <li class=" tools-item grid-item col-sm-6 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading {{ t.tool_category }}">
        <h3 class="text-center">{{ t.tool_title }}</h3>
      </div>
      <div class="panel-body">
        {% if t.tool_questions.size %}
        <ul>
          {% for q in t.tool_questions %}
          <li>{{q.key}}</li>
          {% endfor %}
        </ul>
        {% endif %}
        <br>
        <i class="fa fa-bookmark" aria-hidden="true"></i>
        <p>{{ t.tool_description}}</p>

        <p class="working-on">Con esta herramienta podrás:</p>
        <ul>
          {% for spec in t.tool_specs %}
          <li>{{ spec.key }}</li>
          {% endfor %}
        </ul>
        {% if t.tool_deploys %}

        <i class="fa fa-desktop" aria-hidden="true"></i>
        <p class="working-on">Funcionando en:</p>
        <ul class="list-unstyled">
          {% for spec in t.tool_deploys %}
          <li><a href="{{ spec.url }}">{% if spec.name %}{{ spec.name }}{% else %}{{ site.url | limit: 20 }}{% endif %}</a></li>
          {% endfor %}
        </ul>
        <br>
        {% endif %}
        {% if t.tool_asterisk %}

        <i class="fa fa-asterisk" aria-hidden="true"></i>
        <p class="tool-asterisk"> {{ t.tool_asterisk }}</p>
        {% endif %}

        <div class="panel-footer">
          <a href="/contact.html" class="btn btn-primary btn-lg btn-block">Quiero esta herramienta</a>
        </div>
      </div>
    </div>
  </li>
    {% endfor %}
</div>