//palet
$primary-color: #16163A;

//mix
$magenta: #DD4785;
$amarillo: #FFBA55;
$naranjo: #F9524E;
$azul: #181C37;
$gris: #F0F0F0;
$celeste: #72C5CE;

body {
  background-color: $gris;
}

nav.navbar {
  min-height: 80px;
  margin-bottom: 0px;
  &.navbar-default {
    background-color: $primary-color;
    border-color: $primary-color;
    .navbar-brand, a, a:hover {
      color: #FFF;
    }
  }

}

header>div {
  background: url('/img/slider_herramientas.png') 50%;
  height: 600px;
  h1, p {
    color: #FFF;
  }
}



#three-axis .row {
  div:nth-child(1) {
    height: 400px;
    padding: 20px 25px;
    background-color: $magenta;
    color: #FFF;

    .btn-default:hover {
      color: #FFF;
      background-color: $azul;
      border:none;
    }

  }
  div:nth-child(2) {
    background-color: $amarillo;
    color: #FFF;
    height: 400px;
    padding: 20px 25px;
     .btn-default:hover {
      color: #FFF;
      background-color: $azul;
      border-color: #923939;
    }
  }
  div:nth-child(3) {
    background-color: $naranjo;
    color: #FFF;
    height: 400px;
    padding: 20px 25px;
     .btn-default:hover {
      color: #FFF;
      background-color: $azul;
      border-color: #923939;
    }
  }
}

/* tools */

#tools .col-md-3 {
  &.category_01 {
    background-color: $magenta;
  }
  &.category_02 {
    background-color: $amarillo;
  }
  &.category_03 {
    background-color: $naranjo;
  }
}

/* footer */
footer {
  background-color: $primary-color;
}