//palet
$primary-color: #16163A;

//mix
$magenta: #FF6B57;
$amarillo: #41C3AC;
$naranjo: #FF884D;
$azul: #181C37;
$gris: #F0F0F0;
$celeste: #72C5CE;


body {
  background-color: #FFF;
  color: #FFF;
  font-family: Open Sans, Arial;
}

nav.navbar {
  min-height: 80px;
  margin-bottom: 0px;
  &.navbar-default {
    background-color: $primary-color;
    border-color: $primary-color;
    .navbar-brand, a, a:hover {
      color: #FFF;
    }
    .navbar-collapse, .navbar-form {
      border-color: $primary-color;
      .navbar-nav {
        padding-top: 15px;
      }
    }
  }
}

h1{
  font-family: Arimo;
  font-size: 24px;
  line-height: 35px;
}

h2 {
  font-family: Roboto;
  margin-bottom:25px;
}
h3 {
  font-family: Roboto;
  margin-top: 20px;
  margin-bottom:20px;
  height: 50px;
  weight: 100px;
  background-color: #FFF;
  color: $azul;
  vertical-align: middle;
  padding-top:10px;

}
p {
  font-family: Arimo;
  font-size: 13px;
}
ul {
  font-family: Arimo;
  font-size: 13px;
}


header>div {
  background: url('/img/slider_herramientas_.png') 50%/auto no-repeat;
  height: 600px;
  & div.container > .row > div {
    margin-top: 75px;
    p {
      color: #FFF;
      font-size: 24px;
    }
  }
}

/* Axis */
@mixin base-axis-boxes {
  /*height: 530px;*/
  padding: 20px 25px;
  color: #FFF;
}

@mixin img-axis {
  img {
    display: block;
    margin: 0 auto;
  }
}

#three-axis {
  padding-top: 15px;
  .row {
    div:nth-child(1) {
      @include img-axis;
      @include base-axis-boxes;
      background-color: $magenta;
      .btn-default:hover {
        color: #FFF;
        background-color: $azul;
        border:none;
      }

    }
    div:nth-child(2) {
      @include img-axis;
      background-color: $amarillo;
      @include base-axis-boxes;
      .btn-default:hover {
        color: #FFF;
        background-color: $azul;
        border-color: #923939;
      }
    }
    div:nth-child(3) {
      @include img-axis;
      background-color: $naranjo;
      @include base-axis-boxes;
      .btn-default:hover {
        color: #FFF;
        background-color: $azul;
        border-color: #923939;
      }
    }
  }
}

/* tools */
@mixin boxes-style {
  margin: 10px 3px;
  padding: 5px 25px;
  min-height: 651px;
  box-shadow: 0 0 2px black;
}

#tools .tools-item {
  padding-right: 0px;
  padding-left: 0px;
  color: #FFF;
  .working-on {
    margin: 5px 0px 0px;
    font-weight: bold;
  }
  .tool-asterisk {
    margin: 10px 0px 0px;
  }
  a.btn {
    margin: {
      top: 20px;
    }
  }
  a, a:hover {
    color: #FFF;
  }
  .category_01 {
    background-color: $magenta;
    @include boxes-style;
  }
  .category_02 {
    background-color: $naranjo;
    @include boxes-style;
  }
  .category_03 {
    background-color: $amarillo;
    @include boxes-style;
  }
}

/* footer */
footer {
  padding-top: 20px;
  color: #FFF;
  a, a:hover, a:visited {
    color: #FFF;
  }
  background-color: $primary-color;
}

section#contacto {
  margin-left:300px;
  margin-bottom:40px;
}
.ss-q-title {
  font-weight: normal;
}

/* mobile */
@media (max-width: 767px) {
  header>div {
    background: url('/img/slider_herramientas.png') 25% 40%/auto no-repeat;
    height: 350px;
    & div.container > .row > div {
      margin-top: 40px;
      p {
        font-size: initial;
      }
    }
  }

  #three-axis {
    .row {
      div:nth-child(1), div:nth-child(2), div:nth-child(3) {
        /*height: initial;*/
      }
    }
  }

  #tools .tools-item {
    .category_01, .category_02, .category_03 {
      min-height: initial;
    }
  }
}

@media (min-width: 768px) {
  #three-axis {
    .row {
      div:nth-child(1), div:nth-child(2), div:nth-child(3) {
        height: 800px;
      }
    }
  }
}

@media (min-width: 1024px) {
  #three-axis {
    .row {
      div:nth-child(1), div:nth-child(2), div:nth-child(3) {
        height: 650px;
      }
    }
  }

  #tools .tools-item {
    .category_01, .category_02, .category_03 {
      /*min-height: 550px;*/
    }
  }
}